.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

.force-black{
	color:black;
}

.force-black:hover{
	background-color:red;
}

body, html {

  height: 100%;

  color: #777;

  line-height: 1.8;

  scroll-behavior: smooth;

}

span {

  white-space: pre;

}

/* Create a Parallax Effect */

.bgimg-1, .bgimg-2, .bgimg-3 {

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

}


.w3-wide {letter-spacing: 10px;}

.w3-hover-opacity {cursor: pointer;}

/* First image (Logo. Full height) */

.bgimg-1 {

  background-image: url('../w3images/gym21.jpg');

  min-height: 100%;

}



/* Second image (Portfolio) */

.bgimg-2 {

  background-image: url("../w3images/gym11.jpg");

  min-height: 400px;

}



/* Third image (Contact) */

.bgimg-3 {

  background-image: url("../w3images/gym3.jpg");

  min-height: 400px;

}

.css-typing p {
  border-right: .15em solid black;
  font-family: "Courier";
  color: black;	
  font-size: 25px;
  font-weight: bold;
  background-color:white;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 0.0em;
  -webkit-animation: type 2s steps(80, end);
  animation: type 2s steps(80, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 0.5s steps(40, end);
  animation: type2 0.3s steps(40, end);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid black;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid black;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid black;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid black;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}


